HOST=localhost
PORT=9090
WEB_SOCKET_PORT=9099
PASSWORD_SALT=example_str
TOKEN_ALPHABET=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
DATABASE_URI=postgres://postgres:postgres@localhost:5432/test